# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/bin/Debug/netcoreapp3.1
/obj/Debug/netcoreapp3.1/staticwebassets
/.vs/plataformaOriginacion/v16
/obj/Debug/netcoreapp3.1/plataformaOriginacion.AssemblyInfoInputs.cache
*.cache
*.CopyComplete
/obj/Debug/netcoreapp3.1/plataformaOriginacion.csproj.FileListAbsolute.txt
/obj/Debug/netcoreapp3.1/plataformaOriginacion.dll
/obj/Debug/netcoreapp3.1/plataformaOriginacion.exe
/obj/Debug/netcoreapp3.1/plataformaOriginacion.MvcApplicationPartsAssemblyInfo.cs
/obj/Debug/netcoreapp3.1/plataformaOriginacion.AssemblyInfo.cs
/obj/Debug/netcoreapp3.1/plataformaOriginacion.pdb
/obj/plataformaOriginacion.csproj.nuget.dgspec.json
/obj/plataformaOriginacion.csproj.nuget.g.props
/obj/plataformaOriginacion.csproj.nuget.g.targets






