
<ul  class="navbar-nav">
    @if (ViewBag.usuario == null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/" ><strong><span style="color:white;">Iniciar Sesi&oacute;n</span></strong></a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark"><strong>Usuario:</strong> <span style="color:#ffffff">@ViewBag.usuario</span></a>
            </li> 
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Home" asp-action="cerrarSesion"><strong>| <span style="color:white;">Cerrar Sesi&oacute;n</span> |</strong></a>
            </li>
        }
</ul>