<div align="center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <span class="flaticon-sad-face-in-rounded-square" style="position: relative;margin-left: -20px;color: red;"></span>
    <label style="color:red;">
        Tu sesión ha expirado por favor vuelve a Iniciar Sesión para poder continuar.
    </label>
    <span class="flaticon-sad-face-in-rounded-square" style="position: relative;margin-left: -20px;color: red;"></span>
    <br />
    <a href="/"><span class="flaticon-login" style="position: relative;margin-left: -20px;color: steelblue;"></span> Iniciar Sesión</a>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>