<div align="center">
    <br />
    <br />
    <br />
    <br />
    <br />
    <label style="color:red;">
        Tu sesión ha expirado por favor vuelve a Iniciar Sesión para poder continuar.
    </label>
    <br />
    <a href="/">Iniciar Sesión</a>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>