
@{
    ViewData["Title"] = "DetalleGrupo";
}
@if (ViewBag.error == null){
    <div class="container" style="margin:1em;">
        <div class="col-md-12 row" style="background-color: #e5e5e5;padding:1em;border-radius: 25px;border-radius: 25px;opacity:.9;">
            <div class="col-md-5 col-md-offset-5"></div>
            <h1><label><strong>Detalle Grupo</strong></label></h1>
            @if (ViewBag.dictamen != null)
            {
                @if (ViewBag.dictamen == true)
                {
                    <label class="badge badge-success" style="height: 21px;">APROBADO</label>
                }
                else
                {
                    <label class="badge badge-danger" style="height: 21px;">DENEGADO</label>
                }
            }
            <!---->
        </div>
    </div>
    <div class="container" style="margin-bottom:.5em;" align="center">
        <div class="col-md-12 row" style="background-color: #f5f5f5;padding:1em;border-radius: 25px;opacity:.9;">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <label><strong>INFORMACIÓN:</strong></label><br />
                <div style="overflow:auto;">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th width="50%">Nombre de Grupo</th>
                                <th width="30%" align="center">No. de Integrantes</th>
                                <th width="20%">Importe Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><span class="badge badge-dark" style="font-size:1.2em;">@ViewBag.grupo.nombre</span></td>
                                <td align="center"><span class="badge badge-dark" style="font-size:1.2em;">@ViewBag.grupo.integrantes</span></td>
                                <td align="center"><span class="badge badge-dark" style="font-size:1.2em;">@string.Format("{0:#,0.00}", ViewBag.grupo.importe)</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <label><strong>INTEGRANTES:</strong></label>
                <div id="div_grid" style="overflow:auto;">
                    <partial name="_Integrantes" />
                </div>
                <div align="right">
                    <span id="time" style="font-size: .7em;">10:00</span>
                    <a href="#" onClick="return false;" id="btn_recargar" data-toggle="tooltip" title="RECARGAR DATOS"><span class="flaticon-update-arrow" style="position: relative;margin-left: -20px;"></span></a>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
}
else
{
    <div style="background-color: lightcoral;color:white; padding:1em;" align="center"><strong>Error: @ViewBag.error</strong></div>
}

<script>
    $(".btn_DENGPO").click(function (e) {
        var res = confirm("Esta a punto de DENEGAR el grupo.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>CARGANDO ...</strong>");
        }
        console.log(res);
        return res;
    });
    $(".btn_APRGPO").click(function (e) {
        var res = confirm("Esta a punto de APROBAR el grupo.\n\n\nPara Confirmar de clic en 'ACEPTAR'");
        if (res) {
            $("#botonera").html("<strong>CARGANDO ...</strong>");
        }
        console.log(res);
        return res;
    })
</script>

<script>
    $(document).ready(function () {
        var timer = 60 * 10, minutes, seconds;
        var display = document.querySelector('#time');
        var rotate = function () {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            display.textContent = minutes + ":" + seconds;

            if (--timer < 0) {
                timer = 60 * 10;
                $("#div_grid").html("<label><strong>CARGANDO ...</strong></label>");
                $("#div_grid").load('/Bandeja/Integrantes?_ID=@ViewBag.solicitudes[0].grupoID');
            }
        };
        intervalID = setInterval(rotate, 1000);

        $("#btn_recargar").click(function (e) {
            e.preventDefault();
            $("#div_grid").html("<label><strong>CARGANDO ...</strong></label>");
            $("#div_grid").load('/Bandeja/Integrantes?_ID=@ViewBag.solicitudes[0].grupoID');
        });
    });
</script>