
@{
    ViewData["Title"] = "Documento";
}

<div class="container" style="margin:0">
    @if (ViewBag.imagen != null)
    {
        <img alt="" src="@ViewBag.imagen" style="height:100%;width:100%;" />
    }
    else
    {
        <div style="background-color: lightcoral;color:white; padding:1em;" align="center"><strong>Atencion!!! La imagen no pudo ser encontrada.</strong></div>
    }
</div>

